<!DOCTYPE html>
<html>
{#                                          导航栏#}
	<head>
		<meta charset="utf-8" />
		<title>Python Club</title>
        {% load staticfiles %}
		<link rel="stylesheet" href="{% static "css/normalize.css" %}"/>
		<link rel="stylesheet" href="{% static "css/main.css" %}"/>
	</head>
	<body>
		<div class="index-wrapper">
			<!--header-->
			<div class="header">
				<div class="common">
                    <a href="/">
					    <h1 class="left">Python</h1>
                    </a>
					<div class="right">
						<div class="search-content">
                        <form class="search" action="/com/search/" method="post">
							<span></span>
							<input id="search-text" type="text" placeholder="搜索" />
							<input type="submit" value="搜索" />
						</form>
						</div>
                        {% if request.user.is_authenticated %}
						<div class="blue"><a  href="/com/quiz">提问</a></div>
                        <div class="people">
							<a href="/com/user/">
							    <img src="{% static "img/photo_01.jpg" %}" />
                            </a>
						</div>
						<ul class="user-info">
							<li><a href="/com/user/">{{ user.userprofile.username }}</a></li>
							<li><a href="/com/setting/">设置</a></li>
{#							<li><a href="">我的私信</a></li>#}
							<li><a href="/com/logout/">退出</a></li>
						</ul>
                        {% else %}
						<div class="login-btn">
							<a href="/com/templates/login.html">登录</a> |
							<a href="/com/templates/register.html">注册</a>
						</div>
                        {% endif %}

					</div>
				</div>
			</div>
			<!--header end-->
			<!--main-->
			<div class="main">
				<!--user-left-->
				<div class="user-left">
					<div class="user-top">
						<div class="username">
						{{ user.userprofile.username }}
						<div class="wanshan"><a href="/com/setting/">完善个人资料</a></div>
                        <div class="wanshan"><a href="/com/set_pd/">修改密码</a></div>
						</div>
						<div class="photo-info">
							<div class="photo">
							    <img src="{% static "img/photo_01.jpg" %}" />
						    </div>
{#							<div class="contact">#}
{#								<span><a href="">私信</a></span>#}
{#								<span><a href="">关注</a></span>#}
{#						    </div>#}
						</div>
					    <ul class="info-content">
							<li><span>昵称: {{ user.userprofile.username }}</span></li>
							<li><span>居住地: {{ user.userprofile.address }}</span></li>
							<li><span>工作: {{ user.userprofile.job }}</span></li>
							<li><span>邮箱: {{ user.userprofile.em }}</span></li>
							<li><span>QQ: {{ user.userprofile.QQ }}</span></li>
							<li><span>个人简介: {{ user.userprofile.intro }}</span></li>
					    </ul>
					</div>
					<div class="state-list">
						<h2>最近动态</h2>
						<div class="state-con">

{#                            {% for keep in person_keep_list %}#}
{#							<div class="state">#}
{#								<div class="state-top">#}
{#									<div class="left">收藏了问题</div>#}
{#									<div class="right">{{ keep.created_on | date:"j M"  }}</div>#}
{#								</div>#}
{#								<p><a href="/com/{{ question.id }}">{{ keep.objects.title }}</a></p>#}
{#							</div>#}
{#                            {% endfor %}#}

							<div class="state">
								<div class="state-top">
									<div class="left">收藏了问题</div>
									<div class="right">3天前</div>
								</div>
								<p><a href="">有什么可以保持每天好心情的方法？</a></p>
							</div>
						</div>
						
					</div>
				</div>
				<!--user-left end-->
				<!--user-right-->
				<div class="user-right">
					<div class="username">用户名：{{ user.userprofile.username }}</div>
					<ul class="xiaoxi">
						<li>
							<a href="/com/keep_page/">
								<span class="num">{{ user.userprofile.keep_num }}</span>
							    <span>收藏问题</span>
							</a>
						</li>
						<li>
							<a href="/com/answered_page/">
								<span class="num">{{ user.userprofile.answered_num }}</span>
							    <span>回答问题</span>
							</a>
						</li>
						<li>
							<a href="/com/my_quized/">
								<span class="num">{{ user.userprofile.quized_num }}</span>
							    <span>我的问题</span>
							</a>
						</li>
					</ul>
					<div class="weidu"><a href="">0条未读消息</a></div>
				</div> 
				<!--user-right end-->
			</div>
			<div class="footer">
				<a href="">联系我 </a>  © 2016 fc 版权所有
			</div>
		</div>
		<script type="text/javascript" src="{% static "js/jquery-1.8.3.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/prefixfree.min.js" %}" ></script>
		<script type="text/javascript" src="{% static "js/main.js" %}" ></script>
	</body>
</html>
